@model IEnumerable<WorkforceManagement.Models.Computer>

@{
    ViewData["Title"] = "Computer List";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var computer in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => computer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => computer.Manufacturer)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@computer.Id"> @Html.DisplayFor(modelItem => computer.Make)</a>
</td>
            <td>
                <span @*asp-action="Edit"*@ @*asp-route-id="@computer.Id"*@>Edit</span> |
                <span @*asp-action="Details"*@ @*asp-route-id="@computer.Id"*@>Details</span> |
                <a asp-action="DeleteConfirm" asp-route-id="@computer.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
