@model IEnumerable<WorkforceManagement.Models.Training>

@{
    ViewData["Title"] = "Training Program List";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var training in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => training.ProgName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@training.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@training.Id">Details</a> |
                    <a asp-action="DeleteConfirm" asp-route-id="@training.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>